        body {
            font-family: sans-serif;
            margin: 0;
            padding: 0;
            background-color: #dcdcdc; /* Cambiado a gris claro */
        }

        h1 {
            text-align: center; 
            font-size: 24px;
            margin-bottom: 0px;
            margin-top: 50px; /* Añadido espacio en la parte superior */
        }
        h2 {
            text-align: center; 
            font-size: 16px;
            margin-bottom: 2px;
            margin-top: 2px; /* Añadido espacio en la parte superior */
        }
        .container {
            width: 500px;
            margin: 100px auto;
            text-align: center;
            background-color: white; /* Cambiado a blanco */
            padding: 20px; /* Añadido un poco de espacio alrededor del formulario */
            border-radius: 0px; /* Añadido un poco de borde redondeado al formulario */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Añadida una sombra alrededor del formulario */
        }

        h1 {
            text-align: center; 
            font-size: 24px;
            margin-bottom: 20px;
        }

        .form-group {
            margin-bottom: 15px;
            text-align: left; /* Centrar texto del grupo de formulario */
        }

        label {
            margin: 0 auto; /* Centrar los inputs */
            display: block; 
            font-weight: bold; /* Hacer el texto del label en negrita */
        }
        input[type="text"],
        input[type="password"] {
            width: 80%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 0px;
            margin: 0 auto; /* Centrar los inputs */
            display: block; /* Hacer que los inputs ocupen todo el ancho disponible */
        }

        button {
            background-color: #2D88D4; /* Cambiar el color del botón */
            color: white;
            padding: 10px 10px;
            border: none;
            border-radius: 0px;
            cursor: pointer;
            margin: 0 auto; /* Centrar los inputs */
            display: block; 
            width: 84.5%;
        }

        button:hover {
            background-color: #1F6CB7; /* Cambiar color de fondo en hover */
        }

        .signup-text {
            margin-top: 15px; /* Agregar espacio entre el botón y el texto de registro */
        }

        .signup-link {
            color: #2D88D4; /* Cambiar color del enlace */
            text-decoration: none; /* Quitar subrayado */
        }

        .signup-link:hover {
            text-decoration: underline; /* Agregar subrayado al pasar el mouse */
        }
    